# Note: older versions of git do not understand the "**" notation, so we also expand a few levels.

**/*.exr
*.exr
*/*.exr
*/*/*.exr
*/*/*/*.exr

**/*.mip
*.mip
*/*.mip
*/*/*.mip
*/*/*/*.mip

**/*.log
*.log
*/*.log
*/*/*.log
*/*/*/*.log

**/*.m
*.m
*/*.m
*/*/*.m
*/*/*/*.m
